<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<context:component-scan base-package="net.kzn.shoppingbackend"/>

	<!-- Nalezy dodac ta linijka aby zawsze byl zapewniony dostep do pliku z folderu resources (bez uwgledu na uprawnienia uzytkownika) - np dostep do plkow   .js   .css     -->
	<http pattern="/resources/**" security="none"/>
	
	<!-- Do stron z mapowaniem onlineshopping/login  - maja dostep wszyscy, do reszty mapowan - jedynie uzytkownicy z uprawnieniami USER . UWAGA - wazna jest kolejnosc zapisow <intercept-url> permitAll powinny byc zapisane jako pierwsze -->
	<!-- Rozwiazaniem wyjatku csrf moze byc wylaczenie ochrony csrf  - ni jest to rozwiazanie zalecane   - jednak aby tak zrobic wystarczy w sekcji <http> dodac  		<csrf disabled="true"/>  -->
	<!-- w <form-login> mozna zdefiniowac na jaki adres nastapi przekierowanie przy nieudanym logowaniu (np zle dane uzytkownika) domyslnie jest to {contextRoot}/login?error     (zmiana za pomoca parametru  authentication-failure-url="/nazwaAdresu" -->
	<http>
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/**" access="hasAuthority('USER')" />
		<form-login login-page="/login" />
		<logout />
	</http>
	
	
	<!-- dataSource - to bean zdefiniowany w HibernateConfig.java -->
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select email, password, enabled from user_detail where email = ?"
 				authorities-by-username-query="select email, role from user_detail where email = ?"	
 			/>
 		</authentication-provider>
	</authentication-manager>


</beans:beans>